@page "/"

<PageTitle>Home</PageTitle>

<h1>Form Harbour</h1>
<form class="w-50" autocomplete="off">
    <div class="mb-3">
        <label for="country" class="form-label">Negara</label>
        <input type="text" name="country" id="CountryName" class="form-control" />
    </div>
    <div class="mb-3">
        <label for="port" class="form-label">Pelabuhan</label>
        <input type="text" class="form-control" name="port" id="HarbourName">
    </div>
    <div class="mb-3">
        <label for="item" class="form-label">Barang</label>
        <input type="text" class="form-control" name="item">
    </div>
    <div class="mb-3">
        <textarea class="form-control" name="itemDetails" rows="3"></textarea>
    </div>
    <div class="mb-3">
        <label for="dutyPrice" class="form-label">Tarif Bea Masuk</label>
        <div class="d-flex gap-3 flex-row align-items-center">
            <input type="text" class="form-control w-25" name="price">
            <span>%</span>
        </div>
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" name="dutyPriceDetails">
    </div>
</form>

@* import necessery *@
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="js/home.js"></script>