@page "/"

<PageTitle>Home</PageTitle>

<h1>Form Harbour</h1>
<form class="w-50" autocomplete="off">
    <div class="mb-3">
        <label for="CountryName" class="form-label">Negara</label>
        <input type="text" name="CountryName" id="CountryName" class="form-control" />
    </div>
    <div class="mb-3">
        <label for="HarbourName" class="form-label">Pelabuhan</label>
        <input type="text" class="form-control" name="HarbourName" id="HarbourName">
    </div>
    <div class="mb-3">
        <label for="StuffCode" class="form-label">Barang</label>
        <input type="text" class="form-control" name="StuffCode" id="StuffCode">
    </div>
    <div class="mb-3">
        <textarea class="form-control" name="StuffDetails" rows="3" id="StuffDetails"></textarea>
    </div>
    <div class="mb-3">
        <label for="StuffPrice" class="form-label">Harga Barang</label>
        <input type="text" class="form-control" name="StuffPrice" id="StuffPrice">
    </div>
    <div class="mb-3">
        <label for="StuffDuty" class="form-label">Tarif Bea Masuk</label>
        <div class="d-flex gap-3 flex-row align-items-center">
            <input type="text" class="form-control w-25" name="StuffDuty" id="StuffDuty" disabled>
            <span>%</span>
        </div>
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" name="StuffDutyTotal" id="StuffDutyTotal" disabled>
    </div>
</form>

@* import necessery *@
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="js/home.js"></script>